html {
  scroll-behavior: smooth;
}
body {
  font-size: $fz-body;
}

@include media-breakpoint-down(lg) {
  .hidden-tablet {
    display: none !important;
  }
}

@include media-breakpoint-down(md) {
  .hidden-mobile {
    display: none !important;
  }
}

@include media-breakpoint-up(lg) {
  .hidden-desktop {
    display: none !important;
  }
}
