.blog-pagination {
  //font-family

  &__menu-container {
    list-style: none;

    li {
      a {
        //color
      }
    }

    .active a {
      //color
    }

    li:not(:last-child) {
      &:after {
        content: '|';
        padding: 0 10px;
      }
    }
  }
}
