@mixin hover-post-in-list($self) {
  transition: 0.3s;

  #{$self}__image-text-container {
    background-image: var(--background);
    transition: 0.3s;
  }

  #{$self}__image-text-container-overlay {
    // transition: 0.s;
    background-color: rgba($blue-dark-h, 0.6);
    z-index: 2;
  }

  #{$self}__image {
    opacity: 0;
    transition: 0.3s;
  }

  #{$self}__title,
  #{$self}__excerpt {
    color: $white;
  }

  .button-horizon {
    background-color: $green-text;
    color: $white;
  }
}

.post-in-list {
  $self: &;
  background-color: $light-grey;
  margin-bottom: 30px;
  min-height: 514px;

  &:hover {
    @include hover-post-in-list($self);
  }

  @include media-breakpoint-down(md) {
    @include hover-post-in-list($self);
  }

  &__image-text-container-overlay {
    // background-color: transparent;
    // transition: 0.3s;
  }

  &__image {
    opacity: 1;
    transition: 0.3s;
  }

  &__image-container {
    margin-bottom: 0;
  }

  &__content-container {
    padding: 25px;
  }

  &__category {
    color: $green-text;
    font-size: 0.9rem;
    @include ff-plus-jakarta-bold;
  }

  &__title {
    font-size: 1.1rem;
    line-height: 1.1;
    color: $blue-dark-h;
    margin-top: 10px;
    @include ff-plus-jakarta-bold;
  }

  &__excerpt {
    color: $blue-dark-h;
    line-height: 1.2;
    min-height: 88px;
    @include ff-plus-jakarta-normal;
  }

  .button-horizon {
    width: 100%;
    display: block;
    padding: 25px;
  }
}
