.sidebar {
  box-shadow: 0 4px 16px rgba($black, 0.1);
  padding: 25px;

  &__title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    //color
    position: relative;
    //font-family
  }

  &__item {
    margin-bottom: 30px;
  }

  .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
  }

  .search-form form input[type='text'] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
  }

  .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background:$black;
    color: $white;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }

  .search-form form button i {
    line-height: 0;
  }

  .search-form form button:hover {
    //background
  }

  .categories ul {
    list-style: none;
    padding: 0;
  }

  .categories ul li + li {
    padding-top: 10px;
  }

  .categories ul a {
    color: #111111;
    transition: 0.3s;
  }

  .categories ul a:hover {
    //color
  }

  .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }

  .recent-posts .post-item + .post-item {
    margin-top: 15px;
  }

  .recent-posts img {
    width: 80px;
    float: left;
  }

  .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }

  .recent-posts h4 a {
    color: $black;
    transition: 0.3s;
  }

  .recent-posts h4 a:hover {
    //color
  }

  .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
  }

  .tags {
    margin-bottom: -10px;
  }

  .tags ul {
    list-style: none;
    padding: 0;
  }

  .tags ul li {
    display: inline-block;
  }

  .tags ul a {
    color: #515151;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #c4c4c4;
    display: inline-block;
    transition: 0.3s;
  }

  .tags ul a:hover {
    color: $white;
    //border
    //background
  }

  .tags ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }
}
