#single-post {
  margin-top: 60px;
}

.single-post {
  @include ff-plus-jakarta-normal;

  &__title {
    margin-top: 20px;
    color: $blue-dark-h;
    @include ff-plus-jakarta-bold;
  }

  .entry-single {
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba($black, 0.1);
  }

  &__blog-author {
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba($black, 0.1);

    p {
      font-style: italic;
      color: $blue-dark-h;
      @include ff-plus-jakarta-normal-italic;
    }
  }

  &__avatar {
    border-radius: 50%;
  }

  &__author-data {
    padding-left: 25px;
  }

  &__content {
    * {
      color: $blue-dark-h;
      @include ff-plus-jakarta-normal;
    }
  }

  &__meta-container {
    padding-left: 0;
  }

  &__meta-item {
    color: $blue-dark-h;
    @include ff-plus-jakarta-medium;
  }

  &__categories-title {
    @include ff-plus-jakarta-medium;
  }

  &__categories .category-link {
    color: $blue-dark-h;
    @include ff-plus-jakarta-normal;
  }

  .blog-comments {
    margin-bottom: 30px;
  }

  .blog-comments .comments-count {
    font-weight: bold;
  }

  .blog-comments .comment {
    margin-top: 30px;
    position: relative;
  }

  .blog-comments .comment .comment-img {
    margin-right: 14px;
  }

  .blog-comments .comment .comment-img img {
    width: 60px;
  }

  .blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .blog-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
  }

  .blog-comments .comment h5 a:hover {
    color: #e03a3c;
  }

  .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: #111111;
  }

  .blog-comments .comment h5 .reply i {
    font-size: 20px;
  }

  .blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: #2b2b2b;
    margin-bottom: 5px;
  }

  .blog-comments .comment.comment-reply {
    padding-left: 40px;
  }

  .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }

  .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
  }

  .blog-comments .reply-form p {
    font-size: 14px;
  }

  .blog-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }

  .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #ee9293;
  }

  .blog-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
  }

  .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #ee9293;
  }

  .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
  }

  .blog-comments .reply-form .btn-primary,
  .comment-respond #submit {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: $green-text;
  }

  .comment-respond #submit {
    color: #fff;
  }

  .blog-comments .reply-form .btn-primary:hover,
  .comment-respond #submit:hover {
    background-color: $green-text;
  }

  .comment-respond #comment,
  .comment-respond input:not([type='checkbox']):not([type='submit']) {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid $light-grey;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
